.container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.result h2 {
  color: #333;
  margin-bottom: 15px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 4px;
  overflow-x: auto;
} 

.aaa {
  /* table colapse */
  border-collapse: collapse;
}

.aaa td {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #000;
}

.control-panel input, .control-panel button {
  width: 300px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

